.speech-bubble {
    position: relative !important;
    background: #cbcbcb !important;
    border-radius: .4em !important;
    color: #202020 !important;
    border: 2px solid #202020 !important;
}
  
.speech-bubble::after {
    content: '' !important;
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    width: 0 !important;
    height: 0 !important;
    border: 12px solid transparent !important;
    border-bottom-color: #cbcbcb !important;
    border-top: 0 !important;
    margin-left: -12px !important;
    margin-top: 0px !important;
    rotate: 180deg !important;
}

#resultText {
    display: inline-block !important;
    color: #202020 !important;
    font-size: 14px !important;
    padding: 10px !important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}